<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/notebook.css">
		<link rel="stylesheet" href="/atelier-lakeside.light.css">
		<script src="/highlight.min.js"></script>
		<script>
			hljs.configure({languages: ['javascript', 'ruby']});
			hljs.initHighlightingOnLoad();
		</script>
	</head>
	<body>
		<nav>
			{% if page.prev %}<a rel="prev" href="{{ page.prev }}">{{ page.prev }}</a>{% endif %}
			{% if page.next %}<a rel="next" href="{{ page.next }}">{{ page.next }}</a>{% endif %}
		</nav>
		{{ content }}
	</body>
</html>