<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ site.baseurl }}/notebook.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/atelier-lakeside.light.css">		
		<script src="{{ site.baseurl }}/highlight.min.js"></script>
		<script>
			hljs.configure({languages: ['javascript', 'ruby']});
			hljs.initHighlightingOnLoad();
		</script>
	</head>
	<body>
		<nav>
			{% if page.prev %}
			<a rel="prev" href="{{ site.baseurl }}{{ page.prev }}">
			  {{ page.prev }}
			</a>
			{% endif %}
			{% if page.next %}
			<a rel="next" href="{{ site.baseurl }}{{ page.next }}">
			  {{ page.next }}
			</a>
			{% endif %}
		</nav>
		{{ content }}
	</body>
</html>